{% extends "base.html" %}

{% block title %} Gahao's Website {% endblock %}
{% block headmessage %} Hao's website {% endblock %}
{% block main %}
	<hr>
	<br>
	<table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>現有功能</th>
                <th>功能內容</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>何老師教材網</td>
                <td>連結到老師網站</td>
                <td></td>
            </tr>
            <tr>
            	<td>我的練習</td>
            	<td>新聞摘要、城市人口排行、人口統計圖表以及管理後台</td>
            	<td></td>
            </tr>
            <tr>
                <td>寵寵欲動(專題)</td>
                <td>查看設定(尚未完成)、關於產品(尚未完成)</td>
                <td></td>
            </tr>
            <tr>
                <td>系統功能</td>
                <td>註冊、登入、登出、回首頁</td>
                <td></td>
            </tr>
        </tbody>
    </table>
	<br>
	<!-- 樂透
	本期的樂透爹斯唷 <br>
	特別號：{{ special }} <br>
	一般號：{{ lotto }} <br> -->

	<!-- Sin, Cos 圖
	{% autoescape off %}
	  {{ plot_div }}
	{% endautoescape %} -->
{% endblock %}